node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.dart_tool
build
ios/Pods
android/.gradle
flutter_app/.dart_tool
flutter_app/build
flutter_app/ios/Pods
flutter_app/android/.gradle
