name: who_the_f_is_spy
version: 0.1.0
publish_to: 'none'
description: Flutter port of Who The F is Spy with offline play scaffold.

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
